spring:
  application:
    name: tier-list-service
  data:
    mongodb:
      host: ${MONGODB_HOST:localhost}
      port: ${MONGODB_PORT:27017}
      database: ${MONGODB_DATABASE:tierlist_db}
      authentication-database: admin
      username: ${MONGODB_USERNAME:root}
      password: ${MONGODB_PASSWORD:example}
    
server:
  port: ${SERVER_PORT:8082}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

# External Services
services:
  image-storage:
    url: ${IMAGE_SERVICE_URL:http://localhost:8080} 